body {
  background-color: rgb(238, 238, 238);
  font-family: "KaiTi", "黑体", "宋体";
}

a {
  color: black;
  font-size: 20px;

}

a:hover {
  text-decoration: none;
  color: black;
}



.magtop {
  margin-top: 2em;
}

img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
}

.imgheight img {
  margin: 0;
}

h3 {
  line-height: 30px;
}

h5 {
  line-height: 50px;
}

hr {
  margin: 0;
}

.card-text {
  height: 68px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* chrome兼容写法 */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* 
.list-group {
  width: 300px;
} */

.hshadow {
  box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.2),
    -18px -18px 30px rgba(255, 255, 255, 1);
  /* 过渡时间 ease-out是指先快速 后慢速 */
  transition: all 0.2s ease-out;
  /* 盒子加圆角，card类有自身圆角，无法通过rounded添加 */
  border-radius: 12px;
}



.rightdisplay {
  justify-content: flex-end !important
}

@media (max-width: 768px) {
  .headingtop {
    /* margin-top: 66px !important; */
    /* display: none; */
    opacity: 0;

  }

  .list-group-item:hover {
    background-color: white;
  }

}

@media (min-width: 768px) {
  .list-group-item:hover {
    background-color: transparent;
  }

  .hshadow:hover {
    /* inset 是内部阴影 默认是外部阴影outset */
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.8),
      inset 18px 18px 30px rgba(0, 0, 0, 0.1),
      inset -18px -18px 30px rgba(255, 255, 255, 1);
  }
}